{
  "presets": ["es2015", "stage-2"],
  "plugins": [
    ["transform-react-jsx", {"pragma": "element"}],
    "transform-object-rest-spread",
    "transform-async-to-generator",
    "transform-runtime",
  ]
}
