$site-width: 425px;
$side-width: 120px;

$line-height: 1.4;
$font-family: Aktiv Grotesk, 'aktriv-grotesk-std', Helvetica Neue, Helvetica, Arial;
$font-size:   13px;

$h1: 18px;
$h2: 16px;
$h3: 14px;
$h4: 13px;
$h5: 12px;
$h6: 11px;

$dark:   #000;
$medium: #4A4A4A;
$light:  #9B9B9B;
$faint:  #D4D3D5;
$wash:   #EBEBEB;
$border: $wash;

$blue:   #006BFF;
$purple: #ED82FF;
$green:  #00C475;
